020_java-stream-api/.idea/codeStyles/codeStyleConfig.xml
019_java-generics/.idea/codeStyles/codeStyleConfig.xml
000_java-basic-algorithms/.DS_Store
020_java-stream-api/.idea/codeStyles/codeStyleConfig.xml
020_java-stream-api/.idea/codeStyles/codeStyleConfig.xml
